<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zoho.crm_field_buddy">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission  android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:supportsRtl">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="Your API Key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".listActivity.ContactListActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".RecordViewHandler"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".listActivity.TodaysAppointmentListActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".listActivity.CompletedAppointmentsListActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".listActivity.JobCardsListActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AppointmentsViewHandler"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".JobCardsViewHandler"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".JobCardsCreation"
            android:parentActivityName=".MainActivity"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>