<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sruthi_4404.zcrmFieldBuddy">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission  android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:supportsRtl">

        <activity
            android:name="com.example.sruthi_4404.zcrmFieldBuddy.MapsActivity"
            android:label="@string/title_activity_maps"/>
        <activity
            android:name="com.example.sruthi_4404.zcrmFieldBuddy.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.example.sruthi_4404.zcrmFieldBuddy.list.ContactListActivity"
            android:parentActivityName="com.example.sruthi_4404.zcrmFieldBuddy.MainActivity"/>
        <activity android:name="com.example.sruthi_4404.zcrmFieldBuddy.RecordViewHandler"
            android:parentActivityName="com.example.sruthi_4404.zcrmFieldBuddy.MainActivity"/>
        <activity android:name="com.example.sruthi_4404.zcrmFieldBuddy.list.TodaysAppointmentListActivity"
            android:parentActivityName="com.example.sruthi_4404.zcrmFieldBuddy.MainActivity"/>
        <activity android:name="com.example.sruthi_4404.zcrmFieldBuddy.list.CompletedAppointmentsListActivity"
            android:parentActivityName="com.example.sruthi_4404.zcrmFieldBuddy.MainActivity"/>
        <activity android:name="com.example.sruthi_4404.zcrmFieldBuddy.list.JobCardsListActivity"
            android:parentActivityName="com.example.sruthi_4404.zcrmFieldBuddy.MainActivity"/>
        <activity android:name="com.example.sruthi_4404.zcrmFieldBuddy.AppointmentsViewHandler"
            android:parentActivityName="com.example.sruthi_4404.zcrmFieldBuddy.MainActivity"/>
        <activity android:name="com.example.sruthi_4404.zcrmFieldBuddy.JobCardsViewHandler"
            android:parentActivityName="com.example.sruthi_4404.zcrmFieldBuddy.MainActivity"/>
        <activity android:name="com.example.sruthi_4404.zcrmFieldBuddy.JobCardsCreation"
            android:parentActivityName="com.example.sruthi_4404.zcrmFieldBuddy.MainActivity"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.sruthi_4404.zcrmFieldBuddy.MainActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>